In [25]:
import pandas as pd

In [26]:
data = pd.read_csv('aug_train.csv')

In [27]:
data.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [29]:
data.isna().any()

enrollee_id               False
city                      False
city_development_index    False
gender                     True
relevent_experience       False
enrolled_university        True
education_level            True
major_discipline           True
experience                 True
company_size               True
company_type               True
last_new_job               True
training_hours            False
target                    False
dtype: bool

In [30]:
data.shape

(19158, 14)

## Dealing with missing data..

In [31]:
# Imputing gender with Mode of data..
genderMode = data['gender'].mode()
data.gender.fillna(genderMode[0], inplace = True)
data.gender.isna().any()

False

In [35]:
# Imputing enrolled University with mode as it is also a catagorical variable...
universityStatus = data.enrolled_university.mode()
data['enrolled_university'].fillna(universityStatus[0], inplace = True)
data.enrolled_university.isna().any()

False

In [38]:
educationLevel = data.education_level.mode()
data.education_level.fillna(educationLevel[0], inplace = True)
data.education_level.isna().any()

False

In [45]:
major = data.major_discipline.mode()
data.major_discipline.fillna(major[0], inplace = True)

In [46]:
# Imputing experience with Median as it is a discrete variable...
data['experience'].replace({'>20':20, '<1':0}, inplace = True)
expMedian = data.experience.median()
expMedian
data['experience'].fillna(expMedian, inplace = True)

In [47]:
sizeMode = data.company_size.mode()
data['company_size'].fillna(sizeMode[0], inplace=True)

In [48]:
typeMode = data.company_type.mode()
data['company_type'].fillna(typeMode[0], inplace = True)

In [49]:
data.last_new_job.unique()
data.replace({'>4':5, 'never':0}, inplace = True)
lastNewMedian = data.last_new_job.median()
data.last_new_job.fillna(lastNewMedian, inplace = True)

In [50]:
data.isna().any()

enrollee_id               False
city                      False
city_development_index    False
gender                    False
relevent_experience       False
enrolled_university       False
education_level           False
major_discipline          False
experience                False
company_size              False
company_type              False
last_new_job              False
training_hours            False
target                    False
dtype: bool

In [51]:
data.dtypes

enrollee_id                 int64
city                       object
city_development_index    float64
gender                     object
relevent_experience        object
enrolled_university        object
education_level             int64
major_discipline           object
experience                 object
company_size               object
company_type               object
last_new_job               object
training_hours              int64
target                    float64
dtype: object

In [52]:
data.city = data.city.map(lambda city: city.strip('city_'))
data.city = data.city.astype(int)

In [53]:
from sklearn.preprocessing import LabelEncoder

In [54]:
# Label Encoding Gender Column F = 0, M = 1, Other = 2
encoder = LabelEncoder()
data['gender'] = encoder.fit_transform(data['gender'])
data.gender.unique()

array([1, 0, 2])

In [55]:
# Has Relevent Experience = 0, not having Relevant Experience = 1
data['relevent_experience'] = encoder.fit_transform(data['relevent_experience'])

In [56]:
# 'no_enrollment' = 2, 'Full time course' =0, 'Part time course = 1'
data['enrolled_university'] =encoder.fit_transform(data['enrolled_university'])

In [57]:
# 'Graduate' = 0, 'Masters' = 2, 'High School' = 1, 'Phd' = 3, 'Primary School' = 4
data['education_level'] = encoder.fit_transform(data['education_level'])
data['education_level'].unique()

array([0, 2, 1, 3, 4])

In [58]:
# 'STEM' = 5, 'Business Degree' = 1, 'Arts' = 0, 'Humanities' = 2, 'No Major' = 3, 'Other' = 4
data['major_discipline'] = encoder.fit_transform(data['major_discipline'])
data['major_discipline'].unique()

array([5, 1, 0, 2, 3, 4])

In [60]:
data['experience']=data['experience'].astype(int)

In [62]:
# '50-99'=4 '<10'=7 '10000+'=3 '5000-9999'=6 '1000-4999'=2 '10/49'=0 '100-500'=1, '500-999'=5
data['company_size'] = encoder.fit_transform(data['company_size'])
data['company_size'].unique()

array([4, 7, 3, 6, 2, 0, 1, 5])

In [63]:
data['company_type'] = encoder.fit_transform(data['company_type'])

In [66]:
data['last_new_job'] = data['last_new_job'].astype(int)

In [70]:
data['target'] = data['target'].astype(int)

In [71]:
data.dtypes

enrollee_id                 int64
city                        int64
city_development_index    float64
gender                      int64
relevent_experience         int64
enrolled_university         int64
education_level             int64
major_discipline            int64
experience                  int64
company_size                int64
company_type                int64
last_new_job                int64
training_hours              int64
target                      int64
dtype: object